<%- include('../includes/dashboard-header.ejs') %>
<%- include('../includes/dashboard-sidebar.ejs') %>


    <section class="home">

        <% if (locals.action) { %>
            <% if (action == "add") { %>
                <%- include('../includes/add-service.ejs') %>
            <% } else if (action == "delete") { %>
                <%- include('../includes/delete-service.ejs') %>
            <% } else { %>
                <%- include('../includes/dashboard-home.ejs') %>
            <% } %>
        <% } else { %>
            <%- include('../includes/dashboard-home.ejs') %>
         <%  }  %>
    </section>
</body>
</html>
